@charset "utf-8";
*{
	box-sizing:border-box;
}
.bloque_contenido {
    padding-bottom: 26px;
    background-color: #EDECEC;
    width: 980px;
    margin: 0 auto		
}
.contenedor .articulos h2 {
    padding-left: 17px;
}
.articulos article p {
    padding-left: 13px;
}



body{
	font-size: 16px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 1.4em;
}
.contenedor{
	width: 980px;
	margin: 0 auto;
	/*border: 1px solid red;*/

}

.encabezado .contenedor {
    background-image: -webkit-linear-gradient(270deg,rgba(65,64,64,1.00) 0%,rgba(79,77,77,1.00) 1.55%,rgba(82,80,80,1.00) 46.63%,rgba(63,63,63,1.00) 88.60%);
    background-image: -moz-linear-gradient(270deg,rgba(65,64,64,1.00) 0%,rgba(79,77,77,1.00) 1.55%,rgba(82,80,80,1.00) 46.63%,rgba(63,63,63,1.00) 88.60%);
    background-image: -o-linear-gradient(270deg,rgba(65,64,64,1.00) 0%,rgba(79,77,77,1.00) 1.55%,rgba(82,80,80,1.00) 46.63%,rgba(63,63,63,1.00) 88.60%);
    background-image: linear-gradient(180deg,rgba(65,64,64,1.00) 0%,rgba(79,77,77,1.00) 1.55%,rgba(82,80,80,1.00) 46.63%,rgba(63,63,63,1.00) 88.60%);
    overflow-x: hidden;
    overflow-y: hidden;
}
.encabezado .contenedor nav {
    float: right;
}
.contenedor nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 13px;
}
ul li a {
    display: block;
    color: #FFFFFF;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    text-decoration: none;
}
.contenedor a img {
    padding-left: 21px;

}
nav ul li {
    padding-top: 11px;
}
nav ul li a:hover {
	color: #CB4F24
}




.banner {
   background-image: url("../imagenes/banner 2.png");
	position: relative;
    z-index: 12;
    width: 980px;
    height: 280px;
	margin: 0 auto

}



.encabezado .contenedor img {
	float: left;
	position: relative;
	

}


.bloque-contenido{
	overflow: hidden;
	margin-top: 25px;

}

.bloque-contenido .contenedor{
	display: table;
}

.articulos {

	width: 65%;
	display: table-cell;
	padding-right: 30px;
}

.articulos article{
	margin-bottom: 10px;

}
.articulos h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #272727;
	font-size: 1.625em;
	border-bottom: 5px solid #CB4F24;
	padding-bottom: 10px;
}
.articulos article h1{
	font-size: 1.25em;
	margin: 0 0 8px 0;
}

.articulos article h1 a{
    text-decoration: none;
    font-size: 25px;
    color: #0068FF;
    font-style: bold;
    padding-left: 332px;
}




.articulos article p{
    margin: 0;
    font-size: 19px;
    padding-top: 11px;
    color: #272727;
    padding-bottom: 4px;
}
.piedepagina{
    width: 980px;
    background: #444444;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
    margin: 0 auto

}

.piedepagina .contenedor{
	display:table;
}

.piedepagina small{
	display:table-cell;
	color: #fff;
}


	
.piedepagina .contenedor small {
    padding-left: 394px;
    padding-top: 0px;
    padding-bottom: 0px;
}